✈️ *{{ origin }} ({{ origin_code }}) {{ origin_flag }} - {{ destination }} ({{ dest_code }}) {{ dest_flag }}*
🚨 *Classe {{ cabin }} {{ airline }}*

🌍 *Programa de Milhas: {{ program }}*
💰 *Valor:* {% if min_cost and max_cost %}De {{ min_cost }} a {{ max_cost }} milhas{% else %}{{ cost }}{% endif %}

🤑 {{ cost }} por trecho + taxas

*{{ origin }} → {{ destination }}:*
{% for month, days in formatted_outbound.items() %}
📆 {{ month }}: {{ days }}
{% endfor %}

*{{ destination }} → {{ origin }}:*
{% for month, days in formatted_inbound.items() %}
📆 {{ month }}: {{ days }}
{% endfor %}

_{{ notes }}_